# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
.env/
*.env

# Poetry specific
*.toml
*.lock

# IDEs and Editors
.vscode/
.idea/

# Python test output
nosetests.xml
coverage.xml
*.cover
*.tox
*.nox
*.hypothesis
*.pytest_cache

# Distribution / Packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db

# logs
*.log
